* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: rgb(1, 1, 43);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(4, 4, 95);
    height: 80px;
    /* position: fixed; */
    /* top: 0px; */
    /* width: 100%; */
    border-bottom: 1px solid grey;

}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin-right: 40px;
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(153, 153, 226);
    font-size: 1.04rem;
}

.left {
    font-size: 35px;
    color: orangered;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 110px 0;
}

.firstsection>div {
    width: 30%;
}

.leftsection {
    font-size: 2.5rem;
}

.leftsection .btn {
    padding: 12px;
    color: white;
    font-size: 15px;
    border-radius: 3px;
    border: 1px solid white;
    background-color: rgb(26, 26, 126);
}

.foursection .resbtn{
    padding: 10px;
    color: white;
    font-size: 15px;
    border-radius: 3px;
    border: 1px solid white;
    background-color: rgb(26, 26, 126);
}

.foursection .button{
    padding: 15px 0;
}

.leftsection .button {
    padding: 50px 0;
    
}

.button .btn:hover {
    background-color: blue;
    border: 2px solid;
}

.button .resbtn:hover{
    background-color: blue;
    border: 2px solid;
}

.rightsection img {
    /* width: 80%;  */
    height: 400px;
    width: 400px;
}

.orange {
    color: orangered;
}

.secondsection {
    max-width: 80vw;
    margin: auto;
    height: 100vh;
}

main hr {
    border: 0;
    background: rgb(59, 10, 235);
    height: 2px;
    margin: 30px 70px;
}

.secondsection h1 {
    font-size: 30px;
}

.text-grey {
    color: gray;
}

.secondsection .box {
    background: rgb(223, 213, 213);
    height: 2px;
    width: 100%;
    margin-top: 70px;
    display: flex;
}

.secondsection .vertical {
    height: 100px;
    width: 2px;
    background-color: rgb(206, 198, 198);
    margin: 0 130px 0 110px;
}

.image-top {
    width: 30px;
    position: relative;
    top: -32px;
    left: -9px;
}

.vertical-title {
    position: relative;
    top: 70px;
    left: -9px;
    font-weight: bolder;
    width: 300px;
    font-size: 25px;
}

.vertical-eduname {
    position: relative;
    top: 90px;
    left: -9px;
    color: gray;
    width: 200px;
    font-size: 15px;
}


.vertical-marks {
    position: relative;
    top: 130px;
    left: -9px;
    color: rgb(139, 47, 47);
    font-size: 15px;
}

.footer {
    display: flex;
    background-color: rgb(2, 2, 83);
    height: 240px;
    padding: 15px 20px 0px;
    justify-content: space-evenly;
}

.footer>div {
    width: 300px;
    margin: 10px;
    padding: 10px;
}

.footer ul {
    list-style-type: none;
}

footer .footer-text {
    text-align: center;
    color: gray;
    background-color: rgb(4, 4, 95);
    height: 50px;
    padding: 25px;
}

 .footer-third.menus{
    width: 40px;
    position: relative;
    height: 50px;

}

.footer-third h5{
    color: orangered;
    text-decoration: underline;
}

.footer-third h5:hover{
    color:white;
    font-size: 23px;
    
}

.footer-third ul li  img{
    height: 25px;
    width: 25px;
    margin-bottom: 5px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
}

.footer-third ul li img:hover{
    height: 40px;
    width: 40px;
    border: 3px solid white;
    border-radius: 0;

}


footer .footer-second{
    font-size: 17px;
}

.footer-text .color{
    color: orangered;
}


.footer-second ul li a{
    text-decoration: none;
    color: white;
}

.footer-second ul li a:hover{
    border:2px solid white;
    background-color: orangered;
    height: 40px;
    width: 40px;
}


.exper{
    color:grey;
    font-size: 13px;
}

.thirdsection h1 {
    font-size: 30px;
}

.thirdsection {
    max-width: 80vw;
    margin: auto;
    height: 20vh;
    margin-top: -15px;
}

.foursection {
    max-width: 80vw;
    margin: auto;
    height: 30vh;
    margin-top: -15px;
}

.click{
    color: grey;
}

.resume{
    height: 30px;
    width: 70px;
    background-color: blue;
    color:white;
}

footer .footer-text{
    height: 60px;
    background-color: rgb(17, 16, 16);
}

.thirdsection .fresh{
    color: orangered;
}
 
.leftsection .button .btn a{
    text-decoration: none;
    color: white;
}



